.carouselButton {
  background-color: hsl(214, 68%, 35%);
  color: #ffffff;
  position: absolute;
  bottom: 50%;
  border-radius: 26px;
}

.carouselButton.left {
  left: -25px;
}
.carouselButton.right {
  right: -25px;
}

.carouselContainer {
  position: relative;
}

.plansListDefault {
  width: 1026px;
  display: flex;
  flex: 1;
  margin: 0 auto;
}

.conditions {
  text-decoration: underline;
  font: normal normal normal 12px/12px Montserrat;
  letter-spacing: 0px;
  color: #4480c5;
  opacity: 0.7;
}
.plansListContainer {
  margin: 50px;
}
@media (max-width: 450px) {
  .plansListContainer {
    margin: 0px;
    margin-top: 20px;
  }
  .carouselButton.left {
    left: 3px;
  }
  .carouselButton.right {
    right: 3px;
  }
  .carouselButton {
    bottom: 62%;
  }
}
@media (min-width: 1200px) {
  .conditions {
    width: 1026px;
    text-align: right;
    margin: 0 auto;
  }
}
