body {
  margin: 0;
  background-color: #f1f6fb;
  font-family: "Montserrat" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: "Montserrat" !important;
}

html {
  scroll-behavior: smooth;
}
